li {
  list-style: none;
}

.search-bar {
  margin: 20px 0px 40px 5px;

}

.current-location-btn {
  padding: 10px;
  margin: 20px 30px 40px 0px;
}

.search-button{
  font-size: 25px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app{
  border: 1px solid #DADCE0;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  background: white;
  opacity: 0.9;
  border-radius: 30px;
}


.pin-location {
  font-size: 35px;
  position: relative;
  top: 10px;
  right: 10px;
}
.city{
  position: relative;
  left: 30px;
  top: -33px;
  font-size: 32px;
}

.current-time {
  position: relative;
  right: 20px;
  top:-30px;
}
.temperature {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: -2px;
  left: -30px;
}

.weather-temperature img{
  height: 120px;
  margin-left: 10px;
  position: relative;
  left: -15px;
  top: -15px;
}
.units {
position: relative;
top: -22px;
font-size: 15px;
font-weight: 500;
left: -30px;
}

.units a {
  text-decoration: none;
}

.condition {
  font-size: 15px;
  text-align: center;
  position: relative;
  right: 37px;
  top: -40px;
  text-transform: capitalize;
}

.weather-details {
  text-align: left;
  position: relative;
  right: 20px;
}

.weather-temperature .active {
  color:black;
  cursor:default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.container {
  max-width:none;
  padding: 100px;
  background-repeat: repeat-x;
}

.weather-forecast {
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather.forecast.temperatures {
  font-size:  15px;
}

.weather-forecast-temperature-min {
  opacity:0.7
}

