li {
  list-style: none;
}

.search-bar {
  margin: 20px 0px 40px 5px;

}

.current-location-btn {
  padding: 10px;
  margin: 20px 30px 40px 0px;
}

.search-button{
  font-size: 25px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app{
  border: 1px solid #DADCE0;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: white;
  opacity: 0.9;
  border-radius: 30px;
}


.pin-location {
  font-size: 35px;
  position: relative;
  top: 10px;
  right: 10px;
}
.city{
  position: relative;
  left: 30px;
  top: -33px;
  font-size: 32px;
}

.current-time {
  position: relative;
  right: 20px;
  top:-30px;
}
.temperature {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: 10px;
}

.weather-temperature img{
  height: 75px;
  margin-left: 10px;
}
.units {
position: relative;
top: -10px;
font-size: 15px;
font-weight: 500;
}

.condition {
  font-size: 15px;
  text-align: center;
  position: relative;
  right: 20px;
  top: 0px;
  text-transform: capitalize;
}

.weather-details {
  text-align: center;
}

.units a {
  text-decoration: none;
}

.weather-temperature .active {
  color:black;
  cursor:default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.dress-advice{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #497285;
}

